.navbar-container{
    display: flex;
    /* border: 1px solid red; */
    width: 100dvw;
    justify-content: center;
}
.navbar {
    width: 100dvw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 1rem;
    background: rgba( 86, 81, 81, 0.25 );
    /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    /* border-bottom: 1px solid rgba( 255, 255, 255, 0.18 ); */
  }
  
  .navbar-left .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
  }
  
  .navbar-center .nav-links {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navbar-center .nav-links li {
    margin-right: 1rem;
  }
  
  .navbar-center .nav-links a {
    color: #fff;
    text-decoration: none;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
  }
  
  .navbar-right .cart-icon,
  .navbar-right .user-icon {
    color: #fff;
    text-decoration: none;
    margin-left: 1rem;
    position: relative;
  }
  
  .navbar-right .cart-count {
    background-color: #f44336;
    color: #fff;
    border-radius: 50%;
    padding: 0.2rem 0.5rem;
    font-size: 0.8rem;
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
  }

.cart-button {
    background-color: #fff;
    color: #000000;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-right: 20px;
}
.cart-count {
    /* border: 1px solid black; */
    width: 15px;
    height: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: -10px;
    margin-top: -7px;
    margin-right: -5px;
}